.black{
  background-color:black;
}
.border{
  border:2px solid black;
}
.blackclr{
  color:black;
}
.white{
  background-color:white; 
}
.whiteclr{
  color:white;
}
.navprops{
  background-color:rgb(134, 132, 243);
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
}